<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/Home" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img src="/img/logo.jpg" width="229" height="68" alt="Cooking Never Easier">
  </a>
  <% if(users !='' ) { %>
    <% users.forEach(function(user, index) { %>
      <% if(user.name !='admin' ) { %>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/Home" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="/submit-recipe" class="nav-link px-2 link-secondary">Submit</a></li>
          <li><a href="/yourRecipe" class="nav-link px-2 link-secondary">YourRecipe</a></li>
        </ul>
        <% } %>
          <% if(user.name=='admin' ) { %>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/Home" class="nav-link px-2 link-secondary">Home</a></li>
              <li><a href="/submit-recipe" class="nav-link px-2 link-secondary">Submit</a></li>
              <li><a href="/yourRecipe" class="nav-link px-2 link-secondary">Manage</a></li>
            </ul>
            <% } %>
              <% }) %>
                <% } %>

                  <div class="col-md-3 text-end">
                    <form method="POST" action="/search">
                      <input type="search" name="searchTerm" class="form-control" placeholder="Search..."
                        aria-label="Search">
                    </form>
                  </div>

                  <div class="px-4 py-5 my-5 text-center">
                    <h1 class="display-5 fw-bold">Manage Your Recipes</h1>
                    <div class="col-lg-6 mx-auto">
                      <p class="lead">Pass the name of the recipe you want to change then choose the method</p>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-8">

                      <form action="/yourRecipe" enctype="multipart/form-data" method="POST">

                        <div class="row g-3">

                          <div class="col-12">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" id="name" class="form-control" required>
                          </div>
                          <div class="col-12">
                            <button type="submit" class="btn btn-primary">Delete</button>
                          </div>
                          <a href="/Update">Just want to update,Click here</a>

                        </div>

                      </form>

                    </div>
                  </div>
</header>
<h1 class="pb-4">Your Recipe</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/yourRecipe">Your Recipe</a></li>
    <li class="breadcrumb-item active" aria-current="page">Explore YourRecipe</li>
  </ol>
</nav>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% yourRecipe.forEach(function(recipe, index){ %>
    <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="/img/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
      </div>
      <div class="pt-1">
        <%= recipe.name %>
      </div>
    </a>
    <% }) %>
</div>