<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/Home" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img src="/img/logo.jpg" width="229" height="68" alt="Cooking Never Easier">
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/Home" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a href="/Admit" class="nav-link px-2 link-secondary">Admit</a></li>
    <li><a href="/Manage" class="nav-link px-2 link-secondary">Manage</a></li>
  </ul>


  <div class="col-md-3 text-end">
    <form method="POST" action="/search">
      <input type="search" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</header>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Admit User Recipe</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Check the Manage to get the info , then admit it to the </p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8">

    <form action="/Admit" enctype="multipart/form-data" method="POST">

      <div class="row g-3">

        <div class="col-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control" required>
        </div>


        <div class="col-12">
          <button type="submit" class="btn btn-primary">Admit</button>
        </div>

      </div>

    </form>

  </div>
</div>