<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Sign in</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Explore trending recipes today</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8">

    <form action="/" enctype="multipart/form-data" method="POST">

      <div class="row g-3">

        <div class="col-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control" required>
        </div>

        <div class="col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" id="password" class="form-control" required>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
        <a href="/SignUp">Click this to Sign Up a new acc</a>

      </div>

    </form>

  </div>
</div>